#instruction-box {
    margin-bottom: 20px;
}

#sentence-label {
    font-size: 24px;
    font-weight: bold;
}

#sentence-text {
    font-size: 48px !important;
    line-height: 1.5;
    padding: 30px;
    min-height: 150px;
    border-radius: 10px;
}

#sentence-text p {
    font-size: large;
}

.controls .settings-wrapper {
    display: none;
}

footer, button.rewind, button.skip, button.volume, button.playback, .audio-container [title='Clear'] {
    display: none !important
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

.button-grid > .invisible-placeholder {
    visibility: hidden !important;
    pointer-events: none;
}

.button-grid button {
    width: 100%;
}

/*.empty-space {*/
/*    min-height: 40px; !* Match your button height *!*/
/*}*/